<div class="layout">
  <aside class="aside">
    <nav>
      <ul>
       
        <li><a routerLink="/signup" routerLinkActive="active"><i class="icon-signup"></i> Sign Up</a></li>
        <li><a routerLink="/login" routerLinkActive="active"><i class="icon-login"></i> Login</a></li>

        <li><a routerLink="/public" routerLinkActive="active"><i class="icon-public"></i> Public</a></li>
        <li><a routerLink="/videoplayer" routerLinkActive="active"><i class="icon-videoplayer"></i> Video Player</a></li>
        <li><a routerLink="/dashboard" routerLinkActive="active"><i class="icon-dashboard"></i> Dashboard</a></li>
      </ul>
    </nav>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
